{% extends 'base.html' %}
{% block content %}
  <!-- Candidates Section -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Meet the Candidates</h2>
      <div class="row">

      {% for cand in candidates  %}
        <div class="col-md-4 candidate-card">
          <div class="card">
            <img src="https://via.placeholder.com/350x250" class="card-img-top" alt="Candidate 1">
            <div class="card-body text-center">
              <h5 class="card-title">{{ cand.candidate_name }}</h5>
              <h5 class="card-title">Party: {{ cand.party }}</h5>
              <p class="card-text">Running for {{ cand.cand_post }}</p>
              <div class="d-grid gap-2">
                <a href="#" class="btn btn-primary">Vote</a>
                <a href="#" class="btn btn-outline-secondary">View Manifesto</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </section>
  {% endblock %}